.recipe-image {
  display: inline-block;
}
.recipe-image-default {
  padding: 0 10px 0 0;
}
.recipe-image-image {
  padding: 0 10px 0 0;
  cursor: pointer;
}
.recipe-image-left span, .recipe-image-right span, .recipe-image-delete span {
  padding: 4px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.7);
  line-height: 8px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}
.recipe-image-delete span {
  /*background-color: #f00;*/
  color: #A62721;
}
.recipe-image-left, .recipe-image-right, .recipe-image-delete {
  position: absolute;
}
.recipe-image-left {
  margin: 52px 0 0 2px;
}
.recipe-image-right {
  margin: 52px 0 0 80px;
}
.recipe-image-delete {
  margin: 3px 0 0 82px;
}
.updown {
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 18px;
  margin: 0 0 0 10px;
}
.up, .down {
  background: url('../images/updown-buttons.png') no-repeat;
  cursor: pointer;
  width: 16px;
  height: 8px;
}
.up {
  background-position: 0px -16px;
  margin: 0 0 2px 0;
}
.up:hover {
  background-position: 0px 0px;
}
.down {
  background-position: 0px -24px;
}
.down:hover {
  background-position: 0px -8px;
}
.cb-eml, input.cb-button {
  margin: 0 0 0 10px;
}
.result-ingredient {
  cursor: pointer;
  padding: 0 5px 0 5px;
  margin: 0;
  background: #ffffff;
  height: 20px;
}
#edit-ingredients {
  width: 300px;
  display: inline-block;
}
#ingredient-results {
  display: none;
  list-style: none;
  position: absolute;
  width: 300px;
  height: 120px;
  border: 1px #aaa solid;
  background: #fff;
  overflow: hidden;
  margin: 0;
  padding:0;
  box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
}